.addArticle {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 24px 16px;
    padding: 16px;
    flex: 1;
    height: 0;
    overflow: auto;

    .editArticle {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 0;
    }

    .footer {
        margin-top: 20px;
        text-align: right;
    }
}
