.appContainer {
    background-color: #fff;
    display: flex;
    flex-direction: column;

    .mainWrapper {
        background-color: #fff;
        padding: 40px 0 0;
        position: relative;
        display: flex;
        flex: 1;
        height: 0;

        .rightCol {
            display: flex;

            .contentLayout {
                display: flex;
                flex-direction: column;
                flex: 1;
            }
        }
    }

    .headerContainer {
        padding: 0;
        background-color: #fff;
        box-shadow: 0 2px 8px #f0f1f2;
        position: relative;
        z-index: 10;
        width: 100%;
    }

    .headLeft {
        text-align: center;
        font-size: 20px;
        position: relative;

        .blogName {
            padding-left: 10px;
        }
    }

    .searchBox {
        border-left: 1px solid #ebedf0;
        float: left;
        height: 22px;
        line-height: 22px;
        padding-left: 16px;
        margin: 22px auto 0;

        .antion {
            color: #ced4d9;
            position: relative;
            top: 0.5px;
        }

        .headerSearch {
            font-size: 14px;
            margin-top: -5px;
            width: 200px;
            border: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
            background: transparent;
        }

        input::placeholder {
            color: #a3b1bf;
        }
    }

    .headNav {
        border: 0;
        float: right;
        font-size: 14px;
        font-variant: tabular-nums;

        :global {
            .ant-menu-item-selected {
                border-top: 2px solid #1890ff !important;
                border-bottom: unset;

                &:hover {
                    border-bottom: unset;
                }
            }
        }

        .menuItem {
            height: 64px;
            line-height: 64px;
            min-width: 72px;
            border-top: 2px solid transparent;
            border-bottom: unset;

            &:hover {
                border-bottom: unset;
            }
        }
    }

    .headerUserInfo {
        float: right;
        height: 60px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        padding-top: 5px;

        .headerAvatar {
            width: 30px;
            height: 30px;
            line-height: 30px;
            background-color: #1890ff;
            cursor: pointer;
        }
    }
}
