@import 'markdown';

@mixin pane {
    flex: 1;
    font-size: 16px;
    line-height: 1.5em;
    word-break: break-all;
    overflow: auto;
}

.editorWrapper {
    display: flex;

    .editorPane {
        background-color: #272822;
        margin-right: 16px;
        display: flex;
        flex-direction: column;

        @include pane;

        div {
            &:first-child {
                display: flex;
                flex-direction: column;
                flex: 1;
            }
        }

        :global {
            .react-codemirror2 {
                display: flex;
                flex-direction: column;
                flex: 1;
            }

            .CodeMirror {
                flex: 1;
            }

            .CodeMirror-sizer {
                min-width: unset !important;
            }
        }
    }

    .editResult {
        background-color: white;
        border: 1px solid #ddd;
        padding: 16px;

        @include pane;
    }
}
