@import 'markdown';

.article {
    display: flex;
    flex-direction: column;
    flex: 1;

    .articleListWrapper {
        display: flex;
        flex: 1;
    }

    .articleListContainer {
        display: flex;
        flex: 1;
        width: 100%;

        .articleList {
            flex: 1;
            padding: 0 20px;
            overflow: auto;
            margin-right: 260px;
        }

        .preView {
            position: fixed;
            right: 15px;
            width: 260px;
            list-style: none;
            padding: 0 15px;

            .previewDivider {
                margin-top: 0;
            }

            .previewTitle {
                color: #8590a6;
                cursor: pointer;
                margin-bottom: 5px;
                font-size: 15px;
                word-break: break-all;
                white-space: pre-line;

                &:hover {
                    background: #f0f2f5;
                    color: #40a9ff;
                }
            }
        }
    }

    .pagination {
        background-color: white;
        padding: 0 20px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 260px;
    }

    .articleItem {
        border: 1px solid #ebedf0;
        padding: 16px 24px;
        margin-bottom: 10px;
        transition: all 0.2s linear;

        &:hover {
            background: #effbff;
            box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
            transform: translate3d(0, -5px 0);
        }

        .title {
            color: #394d69;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.2;
            cursor: pointer;

            &:hover {
                color: #48b2ff;
            }
        }

        .createTime {
            font-size: 0.5em;
            padding-left: 20px;
        }

        .description {
            cursor: pointer;
            max-height: 260px;
            overflow: hidden;
        }
    }

    .otherInfo {
        display: flex;
        align-items: center;
        margin-top: 10px;

        .viewCountAndDicuss {
            display: flex;

            .item {
                display: flex;
                margin-right: 5px;

                .icon {
                    display: flex;
                    align-items: center;
                    margin-right: 3px;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .tagContainer {
            display: flex;

            .tagIcon {
                display: flex;
                align-items: center;
                margin-right: 8px;
            }
        }
    }

    .empty {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {
    .mobileDrawer {
        :global {
            .ant-drawer-body {
                padding: unset;
                padding-top: 10px;
            }
        }

        .mobileArticleTitle {
            color: #8590a6;
            cursor: pointer;
            padding: 0 10px;
            margin: 0 5px 5px 5px;
            font-size: 15px;
            border-bottom: 1px solid #e8e8e8;
        }
    }

    .articleListContainer {
        .preView {
            display: none;
        }

        .articleList {
            margin-right: 0 !important;
        }
    }

    .pagination {
        margin-right: 0 !important;
    }

    .articleItem {
        .mobileTitleWrapper {
            display: flex;
            flex-direction: column;

            .title {
                word-break: break-all;
                white-space: pre-line;
                text-align: center;
            }

            .createTime {
                padding-left: 0;
                margin: 10px 0;
            }
        }

        .mobildTags {
            margin-top: 5px;
            display: flex;
            flex-flow: row wrap;

            :global {
                .ant-tag {
                    margin-bottom: 5px;
                }
            }
        }
    }

    .mobileDrawerBtn {
        position: fixed;
        width: 41px;
        height: 41px;
        top: 20vh;
        right: 0;
        box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
        border-radius: 4px 0 0 4px;
        text-align: center;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .mobildTags {
        margin-top: 5px;
        display: flex;
        flex-flow: row wrap;

        :global {
            .ant-tag {
                margin-bottom: 5px;
            }
        }
    }

    .mobileTitleWrapper {
        display: flex;
        flex-direction: column;

        .title {
            word-break: break-all;
            white-space: pre-line;
            text-align: center;
        }

        .createTime {
            text-align: center;
            padding-left: 0 !important;
            margin: 10px 0;
        }
    }
}
