@import 'markdown';

.article {
    display: flex;
    flex-direction: column;
    flex: 1;

    .articleListWrapper {
        display: flex;
        flex: 1;
    }

    .articleListContainer {
        display: flex;
        flex: 1;
        width: 100%;

        .articleList {
            flex: 1;
            padding: 0 20px;
            overflow: auto;
            margin-right: 260px;
        }

        .preView {
            position: fixed;
            right: 15px;
            width: 260px;
            list-style: none;
            padding: 0 15px;

            .previewDivider {
                margin-top: 0;
            }

            .previewTitle {
                color: #8590a6;
                cursor: pointer;
                margin-bottom: 5px;
                font-size: 15px;

                &:hover {
                    background: #f0f2f5;
                    color: #40a9ff;
                }
            }
        }
    }

    .pagination {
        background-color: white;
        padding: 0 20px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 260px;
    }

    .articleItem {
        border: 1px solid #ebedf0;
        padding: 16px 24px;
        margin-bottom: 10px;
        transition: all 0.2s linear;

        &:hover {
            background: #effbff;
            box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
            transform: translate3d(0, -5px 0);
        }

        .title {
            color: #394d69;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.2;
            cursor: pointer;

            &:hover {
                color: #48b2ff;
            }
        }

        .createTime {
            font-size: 0.5em;
            padding-left: 20px;
        }

        .description {
            cursor: pointer;
            max-height: 260px;
            overflow: hidden;
        }
    }

    .otherInfo {
        display: flex;
        align-items: center;
        margin-top: 10px;

        .viewCountAndDicuss {
            display: flex;

            .item {
                display: flex;
                margin-right: 5px;

                .icon {
                    display: flex;
                    align-items: center;
                    margin-right: 3px;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .tagContainer {
            display: flex;

            .tagIcon {
                display: flex;
                align-items: center;
                margin-right: 8px;
            }
        }
    }

    .empty {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
