@import 'markdown';

.articleDetail {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    flex: 1;

    .detailContainer {
        display: flex;
        margin-right: 260px;

        .detailContent {
            width: 100%;

            .header {
                text-align: center;
                padding-bottom: 20px;
                border-bottom: 1px solid #e8e8e8;

                .title {
                    color: #0d1a26;
                    font-size: 1.7em;
                    font-weight: 400;
                }

                .otherInfo {
                    display: flex;
                    justify-content: center;

                    .tags {
                        display: flex;

                        .tagIcon {
                            display: flex;
                            align-items: center;
                            margin-right: 8px;
                        }
                    }
                }
            }

            .content {
                flex: 1;
                overflow: auto;
                margin: 0;
            }
        }

        .articleAnchor {
            position: fixed;
            width: 260px;
            right: 15px;
        }
    }
}
